@import "./variables.scss";
@import "./typography.scss";

@font-face {
  font-family: "Averta";
  src: url("../assets/fonts/averta-pe-regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Averta";
  src: url("../assets/fonts/averta-pe-semibold.woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Averta";
  src: url("../assets/fonts/averta-pe-bold.woff2");
  font-weight: 700;
  font-style: normal;
}

html {
  background-color: var(--background);
}

body,
html,
* {
  color: var(--color-black);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.25;
  font-family: "averta";
  -webkit-tap-highlight-color: transparent;
}

.container {
  padding: var(--container-padding-y) var(--container-padding-x) var(--container-padding-bottom);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: var(--background);
  flex: 1 1;

  @media (min-width: 991px) {
    max-width: 900px;
    width: 100%;
    padding: 112px 0 30px;
  }

  @media (min-width: 1240px) {
    max-width: 1200px;
    width: 100%;
  }
}

.custom-popup .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:16px;
  line-height:24px;
  }
.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
.custom-popup .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #2c3e50;
  }