:root {
    /*
    1. Colors
    2. Fonts
    3. Dimensions
    4. Shadows
    */
  
    /************* 1. Colors *************/
    --color-white: #ffffff;
    --color-black: #000000;
    --primary: #235130;
    --primary-10: #2351300d;
    --primary-30: #2351302e;
    --primary-60: #2351309f;
    --secondary: #92be87;
    --gray: #8a917c;
    --lightGray: #a3a39c;
    --background: #f3f0db;
  
    /************* 2. Fonts **************/
    --font-primary: 'Averta';
  
    /************* 3. Dimensions *********/
    --height-100: 100vh; // is updated dynamically in JS
    --container-padding-y: 32px;
    --container-padding-x: 16px;
    --container-padding-bottom: 260px;
  
  /************* 4. Shadows *********/
    --card-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
    --card-shadow-big: 0 0 16px rgba(0, 0, 0, .05);
  }