.cardTip {
  background-color: var(--color-white);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 8px;
  box-shadow: var(--card-shadow);
  cursor: pointer;

  .imageWrapper {
    position: relative;
    width: 100%;
    padding-bottom: 100%; // Mantiene aspecto cuadrado para el contenedor 
    
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  p:last-child {
    overflow: hidden;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
