.leaflet-popup-content-wrapper {
    width: auto;
    background-color: red;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    width: auto;
    background-color: red;
}

.leaflet-popup-tip-container {
    background-color: red;
}